{% extends 'base.html' %}
{% block body %}
<style>
    .kstable-striped tbody tr:nth-child(odd) {
        background: #e7edf9;
    }

    .kstable-striped tbody tr:nth-child(even) {
        background: #fff;
    }

    .kstable-striped tr td,th {
        text-align:center;
    }
</style>
<div class="box">

    <table class="table kstable-striped" style="margin-top:10px;">
        <thead>
            <tr>
                <th>名字</th>
                <th>性别</th>
                <th>年龄</th>
                <th>爱好</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>张三</td>
                <td>男</td>
                <td>18</td>
                <td>篮球</td>
            </tr>
            <tr>
                <td>张三</td>
                <td>男</td>
                <td>18</td>
                <td>篮球</td>
            </tr>
            <tr>
                <td>张三</td>
                <td>男</td>
                <td>18</td>
                <td>篮球</td>
            </tr>
            <tr>
                <td>张三</td>
                <td>男</td>
                <td>18</td>
                <td>篮球</td>
            </tr>
            <tr>
                <td>张三</td>
                <td>男</td>
                <td>18</td>
                <td>篮球</td>
            </tr>
            <tr>
                <td>张三</td>
                <td>男</td>
                <td>18</td>
                <td>篮球</td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    table.altrowstable {
        font-size:14px;
        color:#333333;
        border-width: 1px;
        border-color: #a9c6c9;
        border-collapse: collapse;
        width: 100%;
    }
    table.altrowstable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
        background-color: #c3dde0;
        text-align: left;
    }
    table.altrowstable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
    }
    table.altrowstable tr:nth-child(odd) {
        background-color:#fff;
    }
    table.altrowstable tr:nth-child(even) {
        background-color:#d4e3e5;
    }
</style>
    <table class="altrowstable" style="margin-top:10px;">
        <thead>
            <tr>
                <th>名字</th>
                <th>性别</th>
                <th>年龄</th>
                <th>爱好</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>张三</td>
                <td>男</td>
                <td>18</td>
                <td>篮球</td>
            </tr>
            <tr>
                <td>张三</td>
                <td>男</td>
                <td>18</td>
                <td>篮球</td>
            </tr>
            <tr>
                <td>张三</td>
                <td>男</td>
                <td>18</td>
                <td>篮球</td>
            </tr>
            <tr>
                <td>张三</td>
                <td>男</td>
                <td>18</td>
                <td>篮球</td>
            </tr>
            <tr>
                <td>张三</td>
                <td>男</td>
                <td>18</td>
                <td>篮球</td>
            </tr>
            <tr>
                <td>张三</td>
                <td>男</td>
                <td>18</td>
                <td>篮球</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
